/* style.css파일에는 font-family, background-color등등 과 같은 모든 스크린에 적용될 수 있는 스타일을 작성
	 파일의 구성은 본인의 스타일에 맞게 구성하면 됨. */

/* Google Fonts 추가 
	 원하는 폰트가 있을 경우, 해당하는 만큼만 저장하여 가져오는 것이 좋음. 무작위로 많이 가져오게 되면 웹사이트가 무거워져서 좋지 않음 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
/* style.css파일에 reset.css파일 import 
	 CSS파일이 여러개인 경우 html에 직접 여러번 추가하는 방법은 별로 좋은 방법이 아님
	 메인 css파일에 import시켜주는 방법이 좋음! */
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/nav-bar.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
	/* body내에 있는 요소의 색의 default값을 #2e363e로  */
	color: #2e363e;
	font-family: "Open Sans", sans-serif;
	height: 100vh;
}

.main-screen {
	padding: 0px var(--horizontal-space);
}
